.navigation-menu{
    width: 100vw;
    height: 100vh;
    background-image: url("BlackHole.jpeg");
    background-size: 1440px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}
.addButton{
    top: 67%;
    left: 49.3%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: fixed;
    border-radius: 50%;
    padding-top: 34px;
    padding-left: 9px;
    padding-right: 8px;
    padding-bottom: 44px;
    background-color: rgb(2, 2, 2);
    color:aliceblue;
    border: none;
    text-align: center;
    transform: rotate(-11deg);
}
/*.addButton:active {
    background-color: #f6f5f5;
    box-shadow: 0 5px #040404;
    transform: translateY(4px);
}*/
.addButton:hover {
    background-color: #7d7e7d;
}
.listButton{
    top: 68.0%;
    left: 69.8%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position:fixed;
    border-radius: 50%;
    padding-top: 69px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 40px;
    background-color: black;
    color:aliceblue;
    border: none;
    text-align: center;
}
.listButton:hover {
    background-color: #7d7e7d;
}
.pgbutton {
    padding: 15px 25px;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.pgbutton:hover {
    background-color: #7f807f;
}
.pgbutton:active {
    background-color: #4e4d4d;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.form {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.form-content{
    display: flex;
    flex-direction: column;
}
.form-content input {
    border-radius: 15px;
    padding: 15px 25px;
    margin-bottom: 7px;
    font-size: medium;
}
.App-logo {
    height: 40vmin;
    pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
.person{
    background-color: aqua;
}